/* OVERRIDE BROWSER DEFAULTS */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}


/* PAGE NAME STYLES */
h1 {
    margin: calc(50vh - 150px) auto 0 auto;
    text-align: center;
    width: fit-content;
    font-size: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 2rem;
    border-radius: 1rem;
}

/* NAV BAR STYLES */
nav {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

a {
    display: block;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 0.5rem;
}

a:hover {
    transform: scale(1.15);
    color: rgb(182, 165, 253);
}


/* ADD ANIMATION PROPERTY HERE */
#fade-in {
    background-color: cadetblue;
    animation: fade-in 2s linear both;
}

#left-slide {
    background-color: thistle;
    animation: slide-left 3s ease-in;
}

#right-slide {
    background-color: mediumslateblue;
    animation: slide-right 3s ease-in;
}

#top-slide {
    background-color: slategrey;
    animation: top-slide 3s ease-in;
}

#bottom-slide {
    background-color: darkseagreen;
    animation: bottom-slide 3s ease-in;
}

#diagonal-slide {
    background-color: bisque;
    animation: diagonal-slide 2s ease-in;
}

#fade-diagonal-slide {
    background-color: palevioletred;
    animation: diagonal-fade-in 3s linear both;
}

#grow {
    background-color: mediumaquamarine;
    animation: grow 3s ease-in;
}


/* BUILD KEYFRAMES HERE */
@keyframes fade-in {
    from {
        background-color: black;
        opacity: 0;
    }

    to {
        background-color: cadetblue;
        opacity: 1;
    }
}
@keyframes slide-left{
    from{
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}
@keyframes slide-right{
    from{
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
@keyframes top-slide{
    from{
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}
@keyframes bottom-slide {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes diagonal-slide{
    from {
        transform: translateX(100%) translateY(-100%);
    }
    to {
        transform: translateX(0%) translateY(-0%)
    }
}
@keyframes diagonal-fade-in{
    from{
        transform: translateX(100%) translateY(-100%);
        background-color: black;
        opacity: 0;
    }
    to {
        transform: translateX(0%) translateY(-0%);
        background-color: palevioletred;
        opacity: 1;
    }
}
@keyframes grow {
    from { transform: scale(0);
    }
    to {
        transform: scale(1);
    }